.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  height: 2.8rem;
  border: none;
  outline: none;
  font-weight: 100;
  border-radius: 10rem;
  width: 100%;
  margin: 1rem auto;
  font-size: 1.1rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}