.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details{
  width: 28rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-text {
  color: black
}

.register-text:hover {
  color: #95ab08;
}

.back-to-menu {
  padding-left: 1.2rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
}

a {
  color: black;
}

a:hover {
  color: #95ab08;
}