.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1.5rem;
  margin-top: 0.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  flex: 3 0;
  justify-content: space-evenly;
  border: 0.1rem solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 1rem;
  list-style: none;
  margin: 0.5rem;
  padding: 0;
  color: black;
}

ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 0.1rem solid whitesmoke;
}

ul li:last-child {
  border: none;
}

li img {
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
  object-fit: cover;
}

li div {
  padding: 1rem;
}

li div:not(:first-child) {
  flex-basis: 18%;
}

li select {
  width: 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 100;
  font-family: 'Quicksand', sans-serif;
  background-color: unset;
  color: black;
  border-radius: 0.5rem;
}

li select:checked {
  background-color: white;
  color: #95ab08;
}

li .remove-icon:hover {
  color: #F28C28;
  cursor: pointer;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 3;
  height: 9.4rem;
  border: 0.1rem solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: black;
}

.checkout>div{
  font-size: 1.4rem;
  margin: 1rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.foods-count {
  margin-bottom: 1.5rem;
}

.total-price::before {
  content: "Price: ";
  color: black;
}

.checkout a {
  padding: 1rem;
  color: white;
  background-color: #95ab08;
  display: block;
  width: 99%;
  border-radius: 10rem;
  font-size: 1.1rem;
  text-align: center;
  justify-content: center;
}

.checkout a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.back-to-menu {
  padding: 0.3rem;
  display: flex;
  justify-content: flex-start;
}

a {
  color: black;
}

a:hover {
  color: #95ab08;
}

