.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details{
  width: 25rem;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-text {
  color: black;
}

.login-text:hover {
  color: #95ab08;
}